/Bioscoop/obj/Debug/net8.0/apphost.exe
/Bioscoop/obj/Debug/net8.0/Bioscoop.csproj.AssemblyReference.cache
/Bioscoop/obj/Debug/net8.0/Bioscoop.csproj.CopyComplete
/Bioscoop/obj/Debug/net8.0/Bioscoop.csproj.CoreCompileInputs.cache
/Bioscoop/obj/Debug/net8.0/Bioscoop.csproj.FileListAbsolute.txt
/Bioscoop/bin/Debug/net8.0/Bioscoop.deps.json
/Bioscoop/bin/Debug/net8.0/Bioscoop.dll
/Bioscoop/obj/Debug/net8.0/ref/Bioscoop.dll
/Bioscoop/obj/Debug/net8.0/refint/Bioscoop.dll
/Bioscoop/obj/Debug/net8.0/Bioscoop.dll
/Bioscoop/bin/Debug/net8.0/Bioscoop.exe
/Bioscoop/obj/Debug/net8.0/Bioscoop.genruntimeconfig.cache
/Bioscoop/bin/Debug/net8.0/Bioscoop.pdb
/Bioscoop/obj/Debug/net8.0/Bioscoop.pdb
/Bioscoop/bin/Debug/net8.0/Bioscoop.runtimeconfig.json
/Bioscoop/obj/Debug/net8.0/Bioscoop.sourcelink.json
/Bioscoop/bin/Debug/net8.0/Json.Net.dll
/Bioscoop/obj/rider.project.model.nuget.info
