################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

/.vs/Bioscoop/FileContentIndex/2ceb7fa7-b7c4-4aea-97a6-05f0b786a4a5.vsidx
